<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  
</head>
<body>
  <h1>Angular</h1>
  
  <div ng-app="myApp">
    
    <div ng-controller="FirstCtrl">
      <input type="text" ng-model="data.message">
      <h1>{{data.message}}</h1>
    </div>

    <div ng-controller="SecondCtrl">
      <input type="text" ng-model="data.message">
      <h1>{{data.message|reverse}}</h1> 
    </div>

  </div>








  <script src="js/angular.js"></script>

  <script type="text/javascript">
    // Define an App
    var myApp = angular.module('myApp', []);  
    // Create factory to create a service.
    myApp.factory('Data', function() {
      return { message: 'I am data from a service' }
    });

    myApp.filter('reverse', function(Data) {
      return function(text) {
        return text.split('').reverse().join('') + Data.message;
      }
    })

    // Controllers
    function FirstCtrl($scope, Data) {
      $scope.data = Data;
    }

    function SecondCtrl($scope, Data) {
      $scope.data = Data;
      
      $scope.reversedMessage = function() {
        return message.split("").reverse().join("");
      }
    } 

    // Sample test
    describe('filter', function() {
      beforeEach(module('myApp'));

      describe('reverse', function() {
        it('should reverse a string', inject(function(reverseFilter) {
          expect(reverseFilter('ABCD')).toEqual('DCBA');
          expect(reverseFilter('John')).toEqual('nhoJ');
        }))
      })
    });

  </script>
</body>
</html>
