<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Angular</title>
  
  <link rel="stylesheet" href="css/style.css">

</head>
<body>
  <h1>Angular</h1>
  
  <div ng-app="app">
    
    <input type="text" ng-model="model.chrisProp"> <br/>
    <input type="text" ng-model="model.title"> <br/>
    <input type="text" ng-model="model.content">

    <zippy attrfoo="{{model.chrisProp}}" attrbar="{{model.title}}">     <!-- grabs data from chrisProp -->
      + TRANSCLUDE This is the {{model.content}} and the title is {{model.title}} TRANSCLUDE +
    </zippy>

  </div>


  <script src="js/angular.js"></script>
  <script src="js/app.js"></script>


</body>
</html>
